@inject SignInManager<IdentityUser> signInManager;


@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnimalApp</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    
    <!-- Font Awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery.slim.min.js"></script>
    <script src="~/lib/jquery/jquery.slim.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <header>
               <nav class="navbar">
            <!-- Make the logo clickable -->
            <a asp-controller="home" asp-action="Index" class="logo">HappyPaws Haven</a>
            <ul class="nav-links">
                @if (signInManager.IsSignedIn(User)&&User.IsInRole("User"))
                {
                    <li><a asp-controller="animal" asp-action="Index" >Animal list</a></li>
                    <li><a asp-controller="Request" asp-action="Index" >Requests</a></li>
                    <li><a asp-controller="Shelter" asp-action="UserView">Shelters</a></li>
                    <li><a asp-controller="account" asp-action="logout" class="login">Log Out</a></li>
                }
                else if (signInManager.IsSignedIn(User) && User.IsInRole("Shelter"))
                {
                    <li><a asp-controller="shelter" asp-action="Index" class="login">Product list</a></li>
                    <li><a asp-controller="account" asp-action="logout" class="login">Log Out</a></li>
                }
                else
                {
                    <li><a asp-controller="account" asp-action="login" class="login">Login</a></li>
                    <li><a asp-controller="account" asp-action="register" class="login">Register</a></li>
                }
            </ul>
            <div class="menu-toggle">&#9776;</div>
        </nav>
    </header>
    
    <!-- Floating Cart Button -->
    @if (signInManager.IsSignedIn(User) && User.IsInRole("User"))
    {

        <button id="open-cart-button" class="floating-cart-button" aria-label="Open shopping cart">
            <i class="fas fa-shopping-cart"></i>
            <span id="cart-count" class="cart-badge">@await Component.InvokeAsync("CartWidget")</span>
        </button>
    }

    <div class="main-content">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- Cart Modal -->
    <div id="cart-overlay"></div>
    <div id="cart-modal-container">
        <div id="cart-modal-header">
            <h5>Your Shopping Cart</h5>
            <button id="cart-close-button">&times;</button>
        </div>
        
        <div id="cart-modal-body">
            <p>Loading cart...</p>
        </div>
        
        <div id="cart-modal-footer">
            <a asp-action="ProccessPayment" asp-controller="Transaction" class="button button-primary">Go to Checkout</a>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <p>&copy; 2025 HappyPaws Haven. All rights reserved.</p>
            <ul class="socials">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
            </ul>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>