@using test.ModelViews
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | HappyPaws Haven</title>
</head>
<body>
  <div class="page-wrapper">


    <!-- Main Content -->
    <div class="login-container">
      <div class="login-box">
        <h1>Welcome Back</h1>
        <p class="subtitle">Login to continue</p>
        <form asp-action="login" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
          <div class="input-group">
            <label asp-for="email">Email</label>
                        <input type="text" asp-for="email" placeholder="Enter your email" required>
                        <span asp-validation-for="email" class="text-danger"></span>
          </div>
          <div class="input-group">
            <label asp-for="password">Password</label>
                        <input type="password" asp-for="password" placeholder="Enter your password" required>
                        <span asp-validation-for="password" class="text-danger"></span>
          </div>
                    <button type="submit" class="login-box-btn btn">Login</button>

        </form>
        <div>
            <h4>ـــــــــــــــــــــــــــــــorـــــــــــــــــــــــــــــــ</h4>
            <form method="post" asp-action="ExternalLogin" asp-route-ReturnUrl="@Model.returnUrl">
                        <button type="submit" class="btn btn-google" name="Provider" value="@Model.ExternalLogins.FirstOrDefault().Name"><i class="fa-brands fa-google"></i> Login with Google</button>
            </form>
        </div>
        <p class="signup-link">Don’t have an account? <a asp-action="register">Sign up</a></p>
      </div>
    </div>

  </div>
</body>
</html>
